<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t("static_content.new_block"), new_object_url, :icon => 'icon-plus', :id => 'admin_new_block' %></li>
<% end %>

<% content_for :page_title do %>
   <%= Spree.t("static_content.blocks") %>
<% end %>

<% if @blocks.any? %>
<table class="index responsive" id="listing_blocks" data-hook>
  <colgroup>
    <col style="width: 5%">
    <col style="width: 40%">
    <col style="width: 10%">
    <col style="width: 30%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="admin_blocks_index_headers">
      <th><%= Spree::Block.human_attribute_name(:position) %></th>
      <th><%= Spree::Block.human_attribute_name(:title) %></th>
      <th><%= Spree::Block.human_attribute_name(:image) %></th>
      <th><%= Spree.t("static_content.link") %></th>
      <th data-hook="admin_blocks_index_header_actions" class="actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @blocks.each do |block| %>
      <tr data-hook="admin_blocks_index_rows" class="<%= cycle('odd', 'even') %>" id="<%= dom_id block %>">
        <td>
          <%= block.position %>
        </td>
        <td>
          <%= block.title %>
        </td>
        <td>
          <%= image_tag block.image.url(:mini) %>
        </td>
        <td>
          <%= link_to block.link, block.link, :target => '_blank' %>
        </td>
        <td class="actions" data-hook="admin_blocks_index_row_actions">
          <%= link_to_edit block, :no_text => true %>
          <%= link_to_delete block, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/block')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_block_path %>!
  </div>
<% end %>
